*{
    box-sizing:border-box;
    margin:0;
    padding: 0;
}
body{
    text-align: center;
    font-family: monospace;
}
h1{
    font-size:2.5rem
}
h2{
    font-size:2rem
}
span{
    padding: 5px;
}
.preloader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-image: url('../loader.gif');
    background-repeat: no-repeat; 
    background-color: rgb(26, 30, 34);
    background-position: center;
 }
.svgSmall{
    height: 15px;
    width: 15px;
}
.corner_logo{
    position: absolute;
    top: 0px;
    right: 0px;
}
.main_section{
    background-color: rgb(26, 30, 34);
    height: 100%;
}
.section_info, .count_wrapper{
    color: #ccd6f6;
    padding-top: 5%;
    padding-bottom: 5%;
}
.user_info .avatar{
    margin: 0 auto;
    height: 150px;
    width: 150px;
    padding: 5px;
    border: 2px solid blue;
    border-radius: 50%;
}
img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
.info__item{
    display: flex;
    justify-content: center;
}
.repo_info{
    font-size: 1rem;
    font-weight: 700;
}
.repo_info, .card, .footer{
    padding: 10px;
    background-color: #262a31;
}
.icon{
    color: #ccd6f6;
}
.footer{
    text-align: center;
    color: #ccd6f6
}
.card{
    border:1px solid rgba(0,0,0,.125);
    border-radius:.25rem
}
.card-header{
    background-color:rgba(0,0,0,.03);
    border-bottom:1px solid #ccd6f6;
}
.card-footer{
    background-color:rgba(0,0,0,.03);
    border-top:1px solid rgba(0,0,0,.125)
}
.num {
    display: block;
    font-size: 25px;
    color: #FFFFFF;
}
.fullh{
    height: 100vh;
    justify-content: center;
}